<!DOCTYPE html>
<html>
  <head>
    <title>気象情報FP1</title>
    <meta charset="utf-8">
    <link href="flamepattern1.css" rel="stylesheet">
    <script>
        function set2fig(num) {
          // 桁数が1桁だったら先頭に0を加えて2桁に調整する
          var ret;
          if( num < 10 ) { ret = "0" + num; }
          else { ret = num; }
            return ret;
          }
          function showClock2() {
            var nowTime = new Date();
            var nowHour = set2fig( nowTime.getHours() );
            var nowMin  = set2fig( nowTime.getMinutes() );
            var nowSec  = set2fig( nowTime.getSeconds() );
            var msg = "現在時刻&nbsp;" + nowHour + ":" + nowMin + ":" + nowSec ;
            document.getElementById("date").innerHTML = msg;
            }
            setInterval('showClock2()',1000);
    </script>
  </head>

  <body>
    <img src="title.jpg" alt="タイトル"></p>
    <p id="date"></p>
    <p id="info">雨雲の動き</p>
    <p id="E1credit1">気象データ観測値　<%= datatime %>時点</p>

      <div class="element" id="temp">
        <p id="tempL">気温</p>
        <p class="side" id="tempD"><%= temp %></p>
        <p class="side" id="tempU">℃</p>
      </div>

      <div class="element" id="humi">
        <p id="humiL">湿度</p>
        <p class="side" id="humiD"><%= humi %> </p>
        <p class="side" id="humiU">%</p>
      </div>

      <div class="element" id="wind_s">
        <p id="wind_sL">風速</p>
        <p class="side" id="wind_sD"><%= wind_s %></p>
        <p class="side" id="wind_sU">m/s</p>
      </div>

      <div class="element" id="wind_d">
        <p id="wind_dL">風向</p>
        <p class="side" id="wind_dD"><%= wind_d %></p>
      </div>

      <div class="element" id="wind_max_s">
        <p id="wind_max_sL">最大瞬間風速</p>
        <p class="side" id="wind_max_sD"><%= wind_max_s %></p>
        <p class="side" id="wind_max_sU">m/s</p>
      </div>

      <div class="element" id="press_l">
        <p id="press_lL">気圧</p>
        <p class="side" id="press_lD"><%= press_l %></p>
        <p class="side" id="press_lU">hPa</p>
      </div>

      <div class="element" id="rain_i">
        <p id="rain_iL">降水強度</p>
        <p class="side" id="rain_iD"><%= rain_i %></p>
        <p class="side" id="rain_iU">mm/h</p>
      </div>

      <div class="element" id="rain_m">
        <p id="rain_mL">1時間降水量</p>
        <p class="side" id="rain_mD"><%= rain_m %></p>
        <p class="side" id="rain_mU">mm/h</p>
      </div>


    <p id="E1credit2">※風向・降水強度は参考値です</p>

    <img id="E2" src="<%= ImagePath %>"></img>
    <p id="E2credit1"><%= ImageName %>(5分更新)</br><%= GetImageTime %>時点</p>
    <p id="E2credit2">出典：気象庁ホームページ(https://www.jma.go.jp/))</p>
  </body>
</html>
